[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-rest-knox = "*"
djangorestframework = "*"
django-createsuperuser = "*"
django-apscheduler = "*"
apscheduler = "*"
gunicorn = "*"
psycopg2-binary = "==2.8.3"
influxdb = "*"
pymodbus = "*"
numpy = "*"

[requires]
python_version = "3.7"
